* {
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	font-size: 16px;
	--primary-color: #05a805;
	--secondary-color: #b4f7b4;
	--primary-modal-color: #f3faf3;
	--secondary-modal-color: #0008;
	--white-color: #ffffff;
}

body {
	overflow-x: hidden;
	background-color: var(--white-color);
	color: var(--primary-color);
}

h1,
h2 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

.section {
	padding: 1rem;
	padding-top: 4rem;
	width: 100%;
	text-align: center;
	min-height: 100vh;
}

/* Header******************************** */

.header {
	width: 100%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.5rem;
	position: sticky;
	top: 0;
	z-index: 300;
}

.desktop-menu {
	display: none;
}

.desktop-menu a {
	color: var(--primary-color);
	font-weight: bold;
	/* transition: text-decoration 0.3s ease; */
}

.desktop-menu a:hover {
	text-underline-offset: 0.3rem;
	text-decoration: underline 5px solid;
}

.theme-btn {
	background-color: rgb(4, 4, 112);
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1rem;
}

.dark-theme {
	background-color: rgb(32, 31, 31);
	color: var(--secondary-color);
}

/* Mobile menu  ******************************/

.menu-icon {
	position: fixed;
	z-index: 500;
	background-color: var(--primary-color);
	color: var(--white-color);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	cursor: pointer;
	padding: 0.5rem;
	bottom: 1rem;
	right: 1rem;
	transition: all 0.5s ease;
}

.menu-icon.is-active {
	transform: rotate(360deg);
	background-color: var(--white-color);
	color: var(--primary-color);
}

.mobile-menu {
	background-color: var(--primary-color);
	position: sticky;
	z-index: 400;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	top: 0;
	bottom: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	transform: translateX(100%);
}

.mobile-menu-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem;
	padding-bottom: 8rem;
	width: 100%;
	height: 100%;
}

.mobile-menu.is-active {
	transform: translateX(0);
	visibility: visible;
}

.mobile-menu-nav a {
	color: var(--white-color);
	font-size: 1.2rem;
	padding: 1rem;
	border-radius: 10px;
	transition: all 0.5s ease;
	width: 100%;
	text-align: center;
}

.mobile-menu-nav a:hover {
	background-color: var(--white-color);
	color: var(--primary-color);
}

/* Top Button******************************** */
.top-btn {
	position: fixed;
	z-index: 300;
	left: 1rem;
	bottom: 1rem;
	width: 2rem;
	height: 3rem;
	border-radius: 0.5rem;
	color: var(--primary-color);
	font-size: 1.5rem;
	border: 2px solid var(--primary-color);
	background-color: var(--secondary-color);
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.top-btn:hover {
	border: 4px solid var(--primary-color);
	font-size: 2rem;
}

.hidden-btn {
	visibility: hidden;
	opacity: 0;
}

/* Media Queries ************************************************************ */

@media screen and (min-width: 480px) {
	:root {
		font-size: 17px;
	}
}

@media screen and (min-width: 600px) {
	:root {
		font-size: 18px;
	}
}

@media screen and (min-width: 768px) {
	.desktop-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	.menu-icon {
		display: none;
	}

	.mobile-menu {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		font-size: 19px;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		font-size: 20px;
	}
}
